.paperella {
    width: 40px;
}

.hr {
    border-top: 20px solid black;
    margin: 0px;
}

.fs {
    font-size: 12px;
}

.titolo {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.catalogo-libri {
    font-size: 20px;
}

