* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

.container {
    max-width: 1024px;
    margin: 0 auto;
}
row{
    
}

.paperella {
    width: 40px;
}

.hr {
    border-top: 20px solid black;
    margin: 0px;
}

.fs {
    font-size: 12px;
}

.titolo {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.catalogo-libri {
    font-size: 20px;
}

.titolo-card{
        font-size: 25px;
        padding-left: 13px;
        padding-top: 2px;
        padding-bottom: 7px;
        border-bottom-style: groove;
        background-color: lightgrey
}

.card{
        
        height: fit-content;
        padding-left: 0px;
        padding-right: 0px;
}